APP_NAME=Frimann
APP_ENV=local
APP_KEY=base64:M5MLt++WnyP0tVoXU45SQjp9UOtjKJ9AJ1JJBtIrBzU=
APP_LOCALE=en
APP_DEBUG=true
APP_URL=nginx

LOG_CHANNEL=sentry

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=frimann_db
DB_USERNAME=frimann_db_user
DB_PASSWORD=frimann_db_password

DK_DB_HOST=dk_db
DK_DB_PORT=3306
DK_DB_DATABASE=dk_frimann_db
DK_DB_USERNAME=dk_frimann_db_user
DK_DB_PASSWORD=dk_frimann_db_password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_DRIVER=redis


SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE_COOKIE=none

REDIS_HOST=redis
REDIS_PASSWORD=frimann_redis_password
REDIS_PORT=6379
REDIS_DB=0
DKK_SYNC_REDIS_DB=1
REDIS_QUEUE=dev

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PASSPORT_PERSONAL_ACCESS_CLIENT_ID=1
PASSPORT_PERSONAL_ACCESS_CLIENT_SECRET=HVHo7VlyjRbHyHwUupDzBRQoDUHFFawyQrMm78UI

ACCESS_TOKEN_EXPIRATION_MINUTES=10
REFRESH_TOKEN_EXPIRATION_DAYS=30

ISLANDIS_URL=https://innskraning.island.is/?id=test.apmedia.is
ISLANDIS_AUDIENCE_URL=frimann.invo.am

BORGUN_PAYMENT_API_URL=https://test.borgun.is/SecurePay/default.aspx
BORGUN_PAYMENT_URL_SUCCESS=https://frimann-docker.local/api/%d/%u/payment/borgun/success
BORGUN_PAYMENT_URL_SUCCESSSERVER=https://frimann-docker.local/api/%d/%u/payment/borgun/successserver
BORGUN_PAYMENT_URL_CANCEL=https://frimann-docker.local/api/%d/%u/payment/borgun/cancel/redirectUrl/%s/hash/%s/
BORGUN_PAYMENT_URL_ERROR=https://frimann-docker.local/api/%d/%u/payment/borgun/error/redirectUrl/%s/hash/%s/

VALITOR_PAYMENT_API_URL=https://paymentweb.uat.valitor.is
VALITOR_PAYMENT_URL_SUCCESS=https://frimann-docker.local/api/%d/%u/payment/valitor/success
VALITOR_PAYMENT_URL_SUCCESSSERVER=https://frimann-docker.local/api/%d/%u/payment/valitor/successserver
VALITOR_PAYMENT_URL_CANCEL=https://frimann-docker.local/api/%d/%u/payment/valitor/cancel

SENTRY_DSN=https://9a7c5b9cf3534ab097664fcf95005630@o415234.ingest.sentry.io/5306002
SENTRY_LOG_LEVEL=null
SENTRY_BUBBLE=true
SENTRY_CAPTURE_LARAVEL_LOGS=true
SENTRY_CAPTURE_SQL_QUERIES=true
SENTRY_CAPTURE_SQL_BINDINGS=true
SENTRY_CAPTURE_QUEUE_INFO=true
SENTRY_CAPTURE_COMMAND_INFO=true
SENTRY_SEND_DEFAULT_PII=true

SYSTEM_INTERFACE_HOST=frimann.admin.develop
CARETAKER_INTERFACE_HOST=caretakersadmin.orlof.is
SYSTEM_SETTLEMENTS_RECEIVING_EMAIL=email@example.com

LANDSBANKINN_URL=https://b2b.fbl.is/lib2b.dll?processXML
LANDSBANKINN_USERNAME=1620918hif
LANDSBANKINN_PASSWORD=pojkafu968
LANDSBANKINN_RECEIVABLES_AGREEMENT_NUMBER=897
LANDSBANKINN_BRANCH=0133
LANDSBANKINN_LEDGER=26
LANDSBANKINN_RECEIVABLE_LEDGER=66
LANDSBANKINN_ACCOUNT=005208

FRIMANN_OLD_URL=https://orlof.is/pvc-api
FRIMANN_OLD_SALT=1321654

TWILIO_SID=ACa0e5140217b110f0cbe324bc8acde8a9
TWILIO_TOKEN=39cd2a9b48180a2505c577f5ee88c8e6
TWILIO_FROM=+12675329827

SUPPORT_INVO=orlof.support@invo.am
SUPPORT_DORADO=dorado@dorado.is
SUPPORT_ADMINS=2609795829,1702785779,1209783309
SUPPORT_EMAIL_1=hermann@apmedia.is
SUPPORT_EMAIL_2=dagbjort@apmedia.is

PAYMENT_SALT=abcdefghijklmnopqrstuvwxyz

DK_KILLER_URL=https://dk-killer_webserver/api
DK_KILLER_SALT=ctb47xlcyx6o

AUDKENNI_BASE_URL=https://tt8m3.audkenni.is:443
AUDKENNI_CLIENT_ID=doradoApiTest
AUDKENNI_SECRET='C$b7u#muA2kU9mG'
AUDKENNI_REDIRECT_URI=http://localhost:3000/callback